body{

font-family: Arial;
margin:0;
color:#333;

background: linear-gradient(
90deg,
red,
orange,
yellow,
green,
blue,
indigo,
violet
);

background-size:400% 400%;
animation: rainbow 15s infinite;

}

@keyframes rainbow{

0%{background-position:0%}
50%{background-position:100%}
100%{background-position:0%}

}


header{

display:flex;
justify-content:space-between;
align-items:center;
background:white;
padding:15px 40px;

}

.logo-area{

display:flex;
align-items:center;
gap:10px;

}

.logo-area img{

height:70px;

}

nav a{

margin:10px;
text-decoration:none;
font-weight:bold;
color:#333;

}


.hero{

height:500px;

background:

linear-gradient(
rgba(0,0,0,0.6),
rgba(0,0,0,0.6)
),

url("images/logo.png");

background-size:cover;
background-position:center;

display:flex;
justify-content:center;
align-items:center;

text-align:center;

color:white;

}

.hero h1{

font-size:45px;

}

.btn{

background:#ff9800;
padding:12px 25px;
border-radius:5px;
text-decoration:none;
color:white;
font-weight:bold;

}

section{

padding:60px 20px;
background:white;
margin:30px;

border-radius:10px;

}

.grid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;

margin-top:30px;

}

.card{

background:#f9f9f9;
padding:15px;
border-radius:10px;

box-shadow:0 5px 15px rgba(0,0,0,0.2);

}

.card img{

width:100%;
border-radius:10px;

}

footer{

background:#222;
color:white;
text-align:center;
padding:30px;

}